[package]
name = "quasipaa"
version = "0.1.0"
authors = ["Mr.Panda <xivistudios@gmail.com>"]
edition = "2018"

[dependencies]
bytes = "0.4.12"
tokio = "0.1.20"
futures = "0.1.27"
rml_rtmp = "0.3.0"

[dependencies.uuid]
version = "0.7"
features = ["serde", "v4"]
