[profile.release]
codegen-units = 1
overflow-checks = false
panic = "abort"
opt-level = 3
debug = false
lto = true

[workspace]
resolver = "2"
members = [
    "tests",
    "turn",
    "stun",
    "turn-server",
    "turn-proxy"
]
