[profile.release]
debug-assertions = false
overflow-checks = false
strip = "debuginfo"
panic = "abort"
debug = false
lto = true
codegen-units = 1

[workspace]
resolver = "2"
members = ["turn-server", "turn-codec", "turn-service"]

[workspace.dependencies]
codec = { path = "turn-codec", version = "0.1.0", package = "turn-server-codec" }
service = { path = "turn-service", version = "0.1.0", package = "turn-server-service" }
