[package]
name = "turn-server"
version = "4.0.0"
edition = "2024"
authors = ["mycrl <lepidodendraceae@gmail.com>"]
description = "A pure rust-implemented turn server."
readme = "./README.md"
homepage = "https://github.com/mycrl/turn-rs"
repository = "https://github.com/mycrl/turn-rs"
license = "GPL-2.0-or-later"
keywords = ["stun", "webrtc", "turn", "turn-server"]
categories = ["parsing", "network-programming"]

[dependencies]
ahash = "0.8"
anyhow = "1.0"
base64 = "0.22"
bytes = "1"
clap = { version = "4", features = ["derive"] }
core_affinity = { version = "0.8.3", optional = true }
log = "0.4"
mimalloc = { version = "0.1", default-features = false }
parking_lot = "0.12"
serde = { version = "1", features = ["derive"] }
serde_json5 = "0.2.1"
simple_logger = "5"
tokio = { version = "1", features = ["full"] }
tokio-rustls = { version = "0.26", features = ["aws-lc-rs"], optional = true }
tokio-stream = { version = "0.1", features = ["sync"], optional = true }
num_cpus = "1.17.0"
tonic = { version = "0.14", features = ["deflate"], optional = true }
prost = { version = "0.14", optional = true }
tonic-prost = { version = "0.14", optional = true }
url = { version = "2.5.7", optional = true }
codec = { workspace = true }
service = { workspace = true, features = ["serde"] }

[build-dependencies]
anyhow = "1.0"
tonic-prost-build = { version = "0.14", optional = true }

[dev-dependencies]
criterion = "0.5"
bytes = "1"
rand = "0.9"

[features]
default = ["all"]
all = ["udp", "tcp", "ssl", "rpc"]
tcp = []
udp = ["dep:core_affinity"]
rpc-build = ["dep:tonic-prost-build", "dep:tonic-prost", "dep:prost"]
rpc = ["dep:tonic", "rpc-build", "dep:url"]
ssl = ["dep:tokio-rustls", "tonic/tls-aws-lc"]

[profile.release]
debug-assertions = false
overflow-checks = false
strip = "debuginfo"
panic = "abort"
debug = false
lto = true
codegen-units = 1

[workspace]
resolver = "2"
members = ["./", "crates/codec", "crates/service", "crates/client", "sdk"]

[workspace.dependencies]
codec = { path = "crates/codec", version = "0.1.0", package = "turn-codec" }
service = { path = "crates/service", version = "0.1.0", package = "turn-service" }
