[profile.release]
codegen-units = 1
overflow-checks = false
panic = "abort"
opt-level = 3
debug = false
lto = true

[workspace]
members = [
    "sdp",
    "rtp",
    "srtp",
    "rtcp",
    "srtcp",
    "dtls",
    "stun",
    "bin/turn"
]
