<html>
<head>
  <title>WebRTC Room</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="./style.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./index.js"></script>
</head>
<body>
  <div id="App">
    <div class="Login" v-show="login">
      <div class="Box">
        <p class="Title">登录</p>
        <input type="text" placeholder="用户名" v-model="username"/>
        <input type="password" placeholder="密码" v-model="password"/>
        <button @click="start">确认</button>
      </div>
    </div>
    <div class="Room">
      <video id="self" autoplay></video>
      <video 
        class="node" 
        v-for="v of users" 
        :key="v" 
        :id="'node-' + v" 
        autoplay
      ></video>
    </div>
  </div>
</body>
</html>