[package]
name = "turn-server"
version = "1.2.0"
edition = "2021"
authors = ["Mr.Panda <xivistudios@gmail.com>"]
description = "A pure rust-implemented turn server."
readme = "../README.md"
homepage = "https://github.com/mycrl/turn-rs"
repository = "https://github.com/mycrl/turn-rs"
license = "GPL-2.0-or-later"
keywords = [
    "stun",
    "webrtc",
    "turn",
    "turn-server"
]

categories = [
    "parsing",
    "network-programming"
]

[dependencies]
ahash = "0.8.3"
bytes = "1.4.0"
turn-rs = { path = "../turn" }
faster-stun = { path = "../stun" }
clap = { version = "4", features = ["derive", "env"] }
tokio = { version = "1.28.2", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
async-trait = "0.1"
simple_logger = "4"
num_cpus = "1.15"
log = "0.4"
anyhow = "1.0"
toml = "0.7"
tonic = { version = "0.10", features = ["prost", "gzip", "tls"] }
prost = "0.12"

[build-dependencies]
tonic-build = "0.10"

[target.'cfg(not(target_os = "windows"))'.dependencies]
jemallocator = "0.5.4"

[target.'cfg(target_os = "windows")'.dependencies]
mimalloc = "0.1.37"

[features]
system_allocator = []