name: CI
on:
    pull_request:
        branches:
        - master
        - nightly
env:
    CARGO_TERM_COLOR: always
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Run tests
          run: cargo test --verbose