name: tests
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/cache@v3
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: "test-ubuntu-latest"
            - name: Install dependencies
              run: |
                  sudo apt update
                  sudo apt install -y protobuf-compiler
                  cargo install cargo-hack --force
            - name: Run tests for all features
              run: cargo test --workspace
              env:
                  RUSTFLAGS: "-Dwarnings"
            - name: Run check all possible feature combinations
              run: cargo hack check --feature-powerset
              env:
                  RUSTFLAGS: "-Dwarnings"

    miri:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/cache@v3
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: "miri-ubuntu-latest"
            - name: Install Rust nightly
              run: |
                  rustup toolchain install nightly --component miri
                  rustup override set nightly
            - name: Install dependencies
              run: |
                  sudo apt update
                  sudo apt install -y protobuf-compiler
            - name: Setup Miri
              run: cargo miri setup
            - name: Run Miri tests
              run: cargo miri test --workspace --no-fail-fast
