name: tests
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/cache@v3
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: "${{ runner.os }}"
            - name: Install dependencies
              run: |
                  sudo apt update
                  sudo apt install -y protobuf-compiler
                  cargo install cargo-hack --force
            - name: Run tests for all features
              run: cargo test --workspace
            - name: Run check all possible feature combinations
              run: cargo hack check --feature-powerset
