name: tests
on:
    push:
        branches:
            - main
        paths:
            - drivers/**
            - tests/**
            - stun/**
            - turn/**
            - turn-server/**
            - Cargo.toml
            - Cargo.lock
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/cache@v3
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: "${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}"
            - name: Install dependencies
              run: |
                  sudo apt update
                  sudo apt install -y protobuf-compiler
                  cargo install cargo-hack
            - name: Run tests for all features
              run: cargo test --all-features
            - name: Run tests all possible feature combinations
              run: cargo hack test --feature-powerset
